/@*/
_@*/
.env
config/DataCache/cache.ch
dayz.gproj
*.exe
*.RPT
*.ADM
*.log
*.dll
*.bisign
*.pbo
*.bin
*.vdf
*.mdmp
*.ebo
/battlefield
/bliss
/dta
/keys
/addons
/mpmissions/Expansion.deerisle/storage_1/*
/appcache
/logs
mpmissions/Expansion.deerisle/storage_1/players.db
sakhal/addons/
config/Heatmap/*.json
custom_scripts/roamer_plots/
/battleye
.continueignore
.vscode/
__pycache__/
.mypy_cache/
/tmp
config/ExpansionMod/Settings/SocialMediaSettings.json
