/@*/
*.exe
*.RPT
*.ADM
*.log
*.dll
*.bisign
*.pbo
*.bin
*.vdf
*.mdmp
/battlefield
/bliss
/dta
/keys
/addons
/mpmissions/Expansion.deerisle/storage_1/*
/appcache
/logs
mpmissions/Expansion.deerisle/storage_1/players.db
